body{
    background: #6495ed;
    background: -webkit-linear-gradient(#6495ed , #ffffff);
}
h1{
    color: #ffdab9;
}
canvas{
    margin-left: 30px;
}
.control-panel{
    background: cadetblue;
    float:right;
}
