body{
    background-color: #000000;
    border: 4px white;
    color: #2c9904;
}

.hiddenBox{
    background-color: #000000;
    color: #2c9904;
    border:1px solid #2c9904;
}

.hiddenCombo {
    background-color: #000000;
    color: #2c9904;
    border: 1px solid #2c9904;
	padding: 5px;
    font-size: 28px;
    font-family: 'digitalreadout';
}

.hiddenButton{
	background-color: #000000;
    color: #2c9904;
    padding: 10px;
    border: 1px solid #2c9904;
	font-size: 28px;
    font-family: 'digitalreadout';
}
